<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Your task list:</h2>
    {%for item in all_items%}
      <p>{{item}}</p><a href="{% url 'delete' item.id%}">Delete Me</a>
    {%endfor%}

    <form action="{% url 'home_path' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task_name" placeholder="Enter task"><br>
        <input type="text" name="priority_level" placeholder="Enter priority"><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
